<style>
    .table-wrapper {
        margin-top: 80px;
    }

    .player-img {
        width: 40px;
        height: 40px;
    }

    .it-img {
        width: 120px;
        height: 120px;
    }

    .add-player-form {
        margin-top: 80px;
    }

    .jumbotron {
        margin-top: 80px;
    }

    .form-wrapper {
        margin-top: 80px;
    }

    .unselectable {
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .table-nonfluid {
        width: auto !important;
    }

</style>
</head>
<body>
<div class="overlay"></div>
<div class="page-wrapper">
    <nav class="navbar navbar-light bg-light border-bottom shadow-sm fixed-top">
        <ul class="nav">
            <li class="nav-item d-none" id="menu-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="nav mt-2 mr-3 feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
            </li>
            <li class="nav-item">
                <span class="navbar-brand mb-0 h1" ><a href="/">Who's IT?</a></span>
            </li>
        </ul>
        <ul class="nav">
            <li class="nav-item">
                <% if (typeof user === "undefined") { %>
                <a class="btn btn-outline-primary" href='/login'>Login/Sign Up</a>
                <% } else { %>
                <form method="post" action="/forces-logout" class="form-inline">
                    <button type="submit" class="btn btn-outline-primary">
                        Logout <%=user.name.split(" ")[0]%>
                    </button>
                </form>
                <% } %>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item nav-link" href="/"><b>Home</b></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item nav-link" href="/players">View Player List</a>
                    <a class="dropdown-item nav-link" href="/charts">View Analytics</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item nav-link" href="/players/add">Add a Player</a>
                    <a class="dropdown-item nav-link" href="/tag">Tag a Player</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
        </ul>
    </nav>
    <nav class="px-0 bg-light col-sm-3 col-lg-2 sidebar" id="sidebar">
        <div class="sidebar-sticky">
            <div id="dismiss">
                <a href="#"><span data-feather="arrow-left"></span></a>
            </div>
            <div class="sidebar-header mx-4">
                <h3 class="text-muted">Analytics Dashboard</h3>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item mt-4 mx-3">
                    <form>
                        <div class="form-row mb-3">
                            <select id="timeframeFilter" class="form-control d-none">
                                <option value="1 week">1 Week</option>
                                <option value="2 weeks">2 Weeks</option>
                                <option value="3 weeks">3 Weeks</option>
                                <option value="1 month">1 Month</option>
                                <option value="2 months">2 Months</option>
                                <option value="3 months">3 Months</option>
                                <option value="6 months">6 Months</option>
                                <option selected value="all">All Time</option>
                            </select>
                        </div>
                    </form>
                    <!--<button id="apply_filter" class="btn btn-outline-secondary">Apply Filter</button>-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/charts">
                        <span data-feather="grid"></span>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/charts/network">
                        <span data-feather="git-merge"></span>
                        Network
                    </a>
                </li>
                <li class="nav-item">
                    <div class="sidebar-accordion">
                        <a class="nav-link" data-toggle="collapse" href="#playersCard" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span data-feather="plus-square" id="players-plus"></span><span data-feather="minus-square" class="d-none" id="players-minus"></span> Players
                        </a>
                        <div class="collapse navbar-collapse" id="playersCard">
                            <ul class="ml-5 py-1 nav nav-sublist" id="nav-players-list">
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>