<style>
    .table-wrapper {
        margin-top: 80px;
    }

    .player-img {
        width: 40px;
        height: 40px;
    }

    .it-img {
        width: 120px;
        height: 120px;
    }

    .add-player-form {
        margin-top: 80px;
    }

    .jumbotron {
        margin-top: 80px;
    }

    .form-wrapper {
        margin-top: 80px;
    }

    .dash-wrapper {
        margin-top: 80px;
    }

    .unselectable {
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    .table-nonfluid {
        width: auto !important;
    }

    .chart {
        width: 100%;
    }
    
    .sidebar {
        position: fixed;
        margin-left: -250px;
        max-width: 250px;
        /*opacity: 0;*/
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 9999; /* Behind the navbar */
        /*padding: 48px 0 0; /* Height of navbar */
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
        transition: all 0.5s;
    }

    .sidebar.active {
        margin-left: 0px;
        /*opacity: 1;*/
    }

    .sidebar-sticky {
        position: relative;
        top: 0;
        height: calc(100vh - 48px);
        padding-top: .5rem;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    }

    @supports ((position: -webkit-sticky) or (position: sticky)) {
        .sidebar-sticky {
            position: -webkit-sticky;
            position: sticky;
        }
    }

    .overlay {
        display: block;
        visibility: hidden;
        position: fixed;
        /* full screen */
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        /* transparent black */
        background: rgba(0, 0, 0, 0.5);
        /* middle layer, i.e. appears below the sidebar */
        z-index: 9998;
        opacity: 0;
        /* animate the transition */
        transition: all 0.5s;
        
    }

    /* display .overlay when it has the .active class */
    .overlay.active {
        visibility: visible;
        opacity: 1;
    }

    #dismiss {
        position: absolute;
        /* top right corner of the sidebar */
        top: 12px;
        right: 10px;
    }

    .chart-holder {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 400px;
    }

</style>
</head>
<body>
<div class="overlay"></div>
<div class="page-wrapper">
    <nav class="navbar navbar-light bg-light border-bottom shadow-sm fixed-top">
        <ul class="nav">
            <li class="nav-item d-none" id="menu-button">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#007bff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="nav mt-2 mr-3 feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
            </li>
            <li class="nav-item">
                <span class="navbar-brand mb-0 h1" ><a href="/">Who's IT?</a></span>
            </li>
        </ul>
        <ul class="nav">
            <li class="nav-item">
                <% if (typeof user === "undefined") { %>
                <a class="btn btn-outline-primary" href='/login'>Login/Sign Up</a>
                <% } else { %>
                <form method="post" action="/forces-logout" class="form-inline">
                    <button type="submit" class="btn btn-outline-primary">
                        Logout <%=user.name.split(" ")[0]%>
                    </button>
                </form>
                <% } %>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item nav-link" href="/"><b>Home</b></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item nav-link" href="/players">View Player List</a>
                    <a class="dropdown-item nav-link" href="/charts">View Analytics</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item nav-link" href="/players/add">Add a Player</a>
                    <a class="dropdown-item nav-link" href="/tag">Tag a Player</a>
                    <div class="dropdown-divider"></div>
                </div>
            </li>
        </ul>
    </nav>