<% include partials/header-top-half.ejs %>

<!-- Analytics stylesheet -->
<link rel="stylesheet" href="/css/analytics.css"/>

<!-- Chart.js stylesheet -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />

<!-- Datatables bootstrap4 stylesheet -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/css/dataTables.bootstrap4.min.css" integrity="sha256-F+DaKAClQut87heMIC6oThARMuWne8+WzxIDT7jXuPA=" crossorigin="anonymous" />

<% include partials/header-bottom-half.ejs %>

<div class="container-fluid wrapper dash-wrapper">
    <main role="main" class="col mx-auto px-4 main">
        <div class="row mx-sm-auto mx-lg-5">
            <div id="timeline" class="fullwidth-chart chart-holder" style="height: 520px;"></div>
        </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="mb-lg-4 chart-holder" id="longtimeDiv">
                        <canvas id="longtimeChart"></canvas>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-lg-4 chart-holder" id="shortavgDiv">
                        <canvas id="shortavgChart"></canvas>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5" >
                    <div class="chart-holder" id="mosttagDiv">
                        <canvas id="mosttagChart"></canvas>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="table-responsive-md">
                        <table id="detailTable" class="table table-hovered table-responsive-md table-striped shadow">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col" class="no-sort" style="width:10% !important">ID</th>
                                    <th scope="col" class="no-sort" style="width:24% !important">Player</th>
                                    <th scope="col" class="text-right dur-col" style="width:22% !important">Time as IT</th>
                                    <th scope="col" class="text-right dur-col" style="width:22% !important">Avg Time as IT</th>
                                    <th scope="col" class="text-right" style="width:22% !important">Times Tagged</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </main>

</div>
</div>

<% include partials/footer-scripts.ejs %>

<!-- Google Charts js files -->
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<!-- Chart.js files -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>

<!-- Chart.js datalabels plugin -->
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.6.0/dist/chartjs-plugin-datalabels.min.js" integrity="sha256-/jAaCyGvq5kToGoJwyXMJI2BMv/hQKikINpyvsOkAsw=" crossorigin="anonymous"></script>

<!-- Datatables jQuery JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/jquery.dataTables.min.js" integrity="sha256-t5ZQTZsbQi8NxszC10CseKjJ5QeMw5NINtOXQrESGSU=" crossorigin="anonymous"></script>

<!-- Datatables Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/datatables/1.10.19/js/dataTables.bootstrap4.min.js" integrity="sha256-hJ44ymhBmRPJKIaKRf3DSX5uiFEZ9xB/qx8cNbJvIMU=" crossorigin="anonymous"></script>

<!-- moment.js library (used for time computations) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>

<!-- General Analytics functions -->
<script src="/javascripts/analytics.js"></script>

<!-- Dashboard-specific javascript -->
<script src="/javascripts/analytics-dashboard.js"></script>

<% include partials/footer.ejs%>