<% include partials/header.ejs %>
	<div class="container jumbotron text-center text-wrap">
		<h1 class="display-4">
			<% if (typeof error != "undefined") { %>
				<%= error.status %> ERROR
			<% } else { %>
				404 ERROR
			<% } %>
		</h1>
		<big> 
			<% if (typeof error != "undefined") { %>
				<%= error.message %>
			<% } else { %>
				Page not found.
			<% } %>
		</big>
	</div>
<% include partials/footer.ejs%>