<% include partials/header.ejs %>
	<div class="container jumbotron text-center text-wrap">
		<h1 class="display-4">
			<% if (typeof error != "undefined") { %>
				<%= error.status %> ERROR
			<% } else { %>
				404 ERROR
			<% } %>
		</h1>
		<p> 
			<% if (typeof error != "undefined") { %>
				<% err_msg = error.message.replace(/(?:\r\n|\r|\n)/g, '<br>');%>
				<%- err_msg %>
			<% } else { %>
				Page not found.
			<% } %>
		</p>
	</div>
<% include partials/footer-scripts.ejs %>
<% include partials/footer.ejs%>