<% include partials/header-top-half.ejs %>

<!-- Analytics stylesheet -->
<link rel="stylesheet" href="/css/analytics.css"/>

<!-- Analytics Sidebar stylesheet -->
<link rel="stylesheet" href="/css/analytics-sidebar.css"/>

<!-- Chart.js stylesheet -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />

<% include partials/header-bottom-half.ejs %>
<div class="container-fluid wrapper dash-wrapper">
    <nav class="px-0 bg-light col-sm-3 col-lg-2 sidebar" id="sidebar">
        <div class="sidebar-sticky">
            <div id="dismiss">
                <a href="#"><span data-feather="arrow-left"></span></a>
            </div>
            <div class="sidebar-header mx-4">
                <h3 class="text-muted">Analytics Dashboard</h3>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item mt-4 mx-3">
                    <form>
                        <div class="form-row mb-3">
                            <select id="timeframeFilter" class="form-control">
                                <option value="1 week">1 Week</option>
                                <option value="2 weeks">2 Weeks</option>
                                <option value="3 weeks">3 Weeks</option>
                                <option value="1 month">1 Month</option>
                                <option value="2 months">2 Months</option>
                                <option value="3 months">3 Months</option>
                                <option value="6 months">6 Months</option>
                                <option selected value="all">All Time</option>
                            </select>
                        </div>
                    </form>
                    <!--<button id="apply_filter" class="btn btn-outline-secondary">Apply Filter</button>-->
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/charts">
                        <span data-feather="grid"></span>
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <div class="sidebar-accordion">
                        <a class="nav-link" data-toggle="collapse" href="#playersCard" role="button" aria-expanded="false" aria-controls="collapseExample">
                            <span data-feather="plus-square" id="players-plus"></span><span data-feather="minus-square" class="d-none" id="players-minus"></span> Players
                        </a>
                        <div class="collapse navbar-collapse" id="playersCard">
                            <ul class="ml-5 py-1 nav nav-sublist" id="nav-players-list">
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main" class="col mx-auto px-4 main">
        <div class="row"> <h1 class="display-4"><%= player.first_name %> <%= player.last_name %> - <span id="timeframeHeader"></span></h1></div>
        <div class="row">
            <div class="col-lg-1 d-none d-md-block"></div>
            <div class="col-lg-10">
                <div class="chart-holder" id="playerlineDiv">
                    <canvas id="playerLineChart"></canvas>
                </div>
            </div>
            <div class="col-lg-1 d-none d-md-block"></div>
        </div>
    </main>

</div>
</div>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo= sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh sha512-bnIvzh6FU75ZKxp0GXLH9bewza/OIw6dLVh9ICg0gogclmYGguQJWl8U30WpbsGTqbIiAwxTsbe76DErLq5EDQ==" crossorigin="anonymous"></script>

<!-- moment.js library (used for time computations) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>

<!-- Chart.js library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>

<!-- feather icons javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.21.0/feather.min.js" integrity="sha256-qBd447qJjlY5iM+wziRXC/fp1ZS/VF7b0pXn8iANAps=" crossorigin="anonymous"></script>

<!-- General Analytics functions -->
<script src="/javascripts/analytics.js"></script>

<!-- Analytics Sidebar javascript -->
<script src="/javascripts/analytics-sidebar.js"></script>

<script type='text/javascript'>
    var PLAYERID = <%= playerId %>;
</script>

<!-- Player Charts javascript -->
<script src="/javascripts/analytics-player.js"></script>



<% include partials/footer.ejs%>