<% include partials/header-top-half.ejs %>

<!-- Analytics stylesheet -->
<link rel="stylesheet" href="/css/analytics.css"/>

<!-- Chart.js stylesheet -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" integrity="sha256-aa0xaJgmK/X74WM224KMQeNQC2xYKwlAt08oZqjeF0E=" crossorigin="anonymous" />

<% include partials/header-bottom-half.ejs %>
<div class="container-fluid wrapper dash-wrapper">
    <main role="main" class="col mx-auto px-4 main">
        <div class="row"> <h1 class="display-4"><%= player.first_name %> <%= player.last_name %> - <span id="timeframeHeader"></span></h1></div>
        <div class="row">
            <div class="col-lg-10 col-sm-12">
                <div class="chart-holder" id="playerlineDiv">
                    <canvas id="playerLineChart"></canvas>
                </div>
            </div>
            <div class="col-lg-2 col-sm-12 d-block d-sm-flex d-lg-block">
                <div class="row">
                    <div class="gauge-holder" id="playerTagsDiv">
                        <canvas id="playerTagsGauge"></canvas>
                    </div>
                </div>
                <div class="row">
                    <div class="gauge-holder" id="playerTimeDiv">
                        <canvas id="playerTimeGauge"></canvas>
                    </div>
                </div>
                <div class="row">
                    <div class="gauge-holder" id="playerAvgDiv">
                        <canvas id="playerAvgGauge"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>
</div>

<% include partials/footer-scripts.ejs %>

<!-- moment.js library (used for time computations) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js" integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>

<!-- Chart.js library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>

<!-- Chart.js datalabels plugin -->
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.6.0/dist/chartjs-plugin-datalabels.min.js" integrity="sha256-/jAaCyGvq5kToGoJwyXMJI2BMv/hQKikINpyvsOkAsw=" crossorigin="anonymous"></script>

<!-- General Analytics functions -->
<script src="/javascripts/analytics.js"></script>

<script type='text/javascript'>
    var PLAYERID = <%= playerId %>;
</script>

<!-- Player Charts javascript -->
<script src="/javascripts/analytics-player.js"></script>

<% include partials/footer.ejs%>